In [1]:
import psycopg2

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
import pandas as pd

In [3]:
conn = psycopg2.connect(
    host = 'digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com',
    database = 'sandbox',
    user = 'ds11_6',
    password = 'ds11_6'
)

In [4]:
cur = conn.cursor()

In [7]:
sql = 'select * from batch_11.cb_stations'
cur.execute(sql)

In [5]:
sql = """select * from batch_11.cb_stations"""
data = pd.read_sql_query(sql, conn)

In [6]:
sql = """
        with tabs as
          (select *
          from batch_11.cb_trips)

          select *
          from tabs 
      """



data = pd.read_sql_query(sql, conn)

In [5]:
sql = """ select cs.name, cs.region_id, cs.rental_methods, ct.tripduration
        from batch_11.cb_stations cs
        inner join batch_11.cb_trips ct on cs.station_id = ct."start station id"
        where tripduration > 86400
      """



data = pd.read_sql_query(sql, conn)
data.head()

                           name  region_id  rental_methods  tripduration
0        Forsyth St & Broome St         71  CREDITCARD,KEY        118257
1  Willoughby Ave & Walworth St         71  CREDITCARD,KEY        601177
2      Cleveland Pl & Spring St         71  CREDITCARD,KEY       6250750
3               E 12 St & 3 Ave         71  CREDITCARD,KEY         93452
4            Broadway & W 56 St         71  CREDITCARD,KEY        104368

In [ ]:
pd.pivot_table(data, values='tripduration', index='name',aggfunc='mean')

                              tripduration
name
Allen St & Hester St              100715.0
Broadway & Berry St                88516.0
Broadway & W 56 St                104368.0
Broadway & W 58 St                259428.5
Carmine St & 6 Ave                 94989.0
Centre St & Chambers St           207708.0
Clermont Ave & Lafayette Ave       97014.0
Cleveland Pl & Spring St         6250750.0
E 12 St & 3 Ave                    93452.0
E 20 St & Park Ave                116146.0
E 45 St & 3 Ave                   299162.0
Forsyth St & Broome St            118257.0
Grand St & Havemeyer St           104592.0
Lawrence St & Willoughby St       113089.0
Old Fulton St                     109207.0
Rivington St & Chrystie St         88411.0
S 5 Pl & S 5 St                   260132.0
State St & Smith St (old)          88182.0
Suffolk St & Stanton St           145506.0
W 34 St & 11 Ave                   95906.5
W 42 St & 8 Ave                   124456.0
W 49 St & 8 Ave                   217948.0
W 52 St & 11 Ave                   91003.0
Willoughby Ave & Walworth St      601177.0