In [2]:
import numpy as py
import pandas as pd

In [3]:
data1 = pd.read_csv('https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/data.csv')

In [5]:
data1.shape

(59808, 14)

In [4]:
data2 = pd.read_csv('https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/data_2.csv')

In [6]:
# Full outer dataset 1 dan dataset 2
data_merge = data1.merge(data2,how='outer',on = 'employee_id')
data_merge.head()

   Unnamed: 0_x  employee_id  ... avg_training_score_y is_promoted_y
0             0        65438  ...                  NaN           NaN
1             1        65141  ...                 60.0           0.0
2             2         7513  ...                  NaN           NaN
3             3         2542  ...                  NaN           NaN
4             3         2542  ...                  NaN           NaN

[5 rows x 27 columns]

In [7]:
# Display dataframe yang tidak match (awards_won_y == Nan)
not_match = data_merge[data_merge['awards_won_y'].isnull()]
not_match

       Unnamed: 0_x  employee_id  ... avg_training_score_y is_promoted_y
0                 0        65438  ...                  NaN           NaN
2                 2         7513  ...                  NaN           NaN
3                 3         2542  ...                  NaN           NaN
4                 3         2542  ...                  NaN           NaN
5                 4        48945  ...                  NaN           NaN
...             ...          ...  ...                  ...           ...
59851         54802         6915  ...                  NaN           NaN
59854         54804        74592  ...                  NaN           NaN
59855         54805        13918  ...                  NaN           NaN
59856         54806        13614  ...                  NaN           NaN
59857         54807        51526  ...                  NaN           NaN

[54022 rows x 27 columns]

In [ ]:
#Dimensi data diatas tidak sama dengan dimensi pada file final.csv karena memiliki 27 columns hasil dari outer join dataset 1 dan 2
final = pd.read_csv('https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/final.csv')
final.shape

(54022, 14)

In [ ]:
#Mengambil dataset bagian dataset pertama
data_baru = not_match.iloc[:,:14]
data_baru.head()

   Unnamed: 0_x  employee_id  ... avg_training_score_x is_promoted_x
0             0        65438  ...                 49.0             0
2             2         7513  ...                 50.0             0
3             3         2542  ...                 50.0             0
4             3         2542  ...                 50.0             0
5             4        48945  ...                 73.0             0

[5 rows x 14 columns]

In [ ]:
#Rename column
data_baru.rename(columns={'Unnamed: 0_x':'',	'department_x':'department',	'region_x':'region','education_x':'education',
                       'gender_x':'gender',	'recruitment_channel_x':'recruitment_channel',	'no_of_trainings_x':'no_of_trainings',
                       'age_x':'age','previous_year_rating_x':'previous_year_rating','length_of_service_x':'length_of_service',
                       'awards_won_x':'awards_won','avg_training_score_x':'avg_training_score','is_promoted_x':'is_promoted'})

              employee_id  ... avg_training_score is_promoted
0          0        65438  ...               49.0           0
2          2         7513  ...               50.0           0
3          3         2542  ...               50.0           0
4          3         2542  ...               50.0           0
5          4        48945  ...               73.0           0
...      ...          ...  ...                ...         ...
59851  54802         6915  ...               49.0           0
59854  54804        74592  ...               56.0           0
59855  54805        13918  ...               79.0           0
59856  54806        13614  ...                NaN           0
59857  54807        51526  ...               49.0           0

[54022 rows x 14 columns]